.app {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.content-login,
.content-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.9s ease-in-out transform;
  backface-visibility: hidden;
}