.wrapper-home {
  width: 100%;
  height: 100%;
}

header {
  background: #222;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
